{% if filters is not empty %}
    <form action="{{ path('table_generator.generate', { 'page': 1 }) }}" class="filters">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            {{ 'Filtrowanie i wyszukiwanie'|trans }}
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>


                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <input type="text" class="form-control table-search" name="search" title="{{ 'Wpisz frazę do wyszukania...'|trans }}" placeholder="{{ 'Wpisz frazę do wyszukania...'|trans }}">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default table-search-button" name="table-search-button">{{ 'Wyszukaj'|trans }}</button>
                                </span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr size="1" />
                            </div>
                        </div>
                        <div class="row">
                            {% for filter in filters %}
                                <div class="col-md-3">
                                    <input type="text" class="table-filter-{{ filter.name }} table-filter form-control" name="{{ filter.name }}" value="{{ filter.value }}" title="{{ filter.label }}" placeholder="{{ filter.label }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endif %}