<div class="row">
    <div class="col-md-8 text-center">
        {% if totalCount > perPage %}
            <div class="pagination">
                <input type="hidden" name="table-items" value="{{ perPage|default(10) }}" />
                <div class="btn-group">

                    <div class="btn-group table-items">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {{ 'Ilość rekordów'|trans }}:
                            <span class="table-items-count">{{ perPage|default(10) }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for item in items %}
                                <li{% if item == perPage|default(10) %} class="active"{% endif %}>
                                    <a href="{{ path('table_generator.generate', {'page': 1}) }}" data-value="{{ item }}">{{ item }}</a>
                                </li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li{% if perPage == 999999999 %} class="active"{% endif %}><a href="{{ path('table_generator.generate', {'page': 1}) }}" data-value="999999999">{{ 'wszystkie'|trans }}</a></li>
                        </ul>
                    </div>

                    {% if firstPage is not null %}
                        <button type="button" class="btn-pagination btn btn-default"
                                data-href="{{ path('table_generator.generate', {'page': firstPage}) }}"
                                title="{{ 'Pierwsza strona'|trans }}">
                            <i class="glyphicon glyphicon-step-backward"></i>
                        </button>
                    {% endif %}

                    {% if prevPage is not null %}
                        <button type="button" class="btn-pagination btn btn-default"
                                data-href="{{ path('table_generator.generate', {'page': prevPage}) }}"
                                title="{{ 'Poprzednia strona'|trans }}">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                    {% endif %}

                    {% for page in pages %}
                        <button type="button"
                                class="btn-pagination btn btn-{% if page == actualPage %}primary{% else %}default{% endif %}"
                                data-href="{{ path('table_generator.generate', {'page': page}) }}"
                                title="{% if page == actualPage %}{{ 'Aktualna strona'|trans }}{% else %}{{ 'Przejdź do strony o podanym numerze'|trans }}{% endif %}">
                            {{ page }}
                        </button>
                    {% endfor %}

                    {% if nextPage is not null %}
                        <button type="button" class="btn-pagination btn btn-default"
                                data-href="{{ path('table_generator.generate', {'page': nextPage}) }}"
                                title="{{ 'Natępna strona'|trans }}">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    {% endif %}

                    {% if lastPage is not null %}
                        <button type="button" class="btn-pagination btn btn-default"
                                data-href="{{ path('table_generator.generate', {'page': lastPage}) }}"
                                title="{{ 'Ostatnia strona'|trans }}">
                            <i class="glyphicon glyphicon-step-forward"></i>
                        </button>
                    {% endif %}

                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <div class="pull-right table-go-to-page" data-href="{{ path('table_generator.generate', {'page': 0}) }}">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">{{ 'Przejdź do strony:'|trans }}</button>
                </div>
                <input type="text" style="width:45px;text-align:center;" class="form-control" value="{{ actualPage }}" name="actual-page" title="{{ 'Przejdź bezpośrednio do wskazanej strony'|trans }}" />
            </div>
        </div>
    </div>
</div>